 /*COLCHONES*/

 #body__colchones {
     font-family: 'Roboto';
 }
 
 .tituloColchones {
    margin: 1em;
    padding: 0,1em;
    font-family: 'Roboto';
    font-style: bold;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
}


.contenedor-colchones{ 
    margin: 5em;
    padding: 1em;

}
