/* MEDIOS DE PAGO  */

.seccion_pagos {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.seccion_pagos_imagen {
  border-radius: 1px;
  width: 300px;

}