/*FORMULARIO*/

#body__nosotros { 
  font-family: 'Roboto';
}


.titulo__nosotros {
  margin-top: 2em;
}

#contactForm {
  align-content: right;
  margin-top: 1em;
  margin-bottom: 1em;
}

.nosotros__mapa {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em;
    div { 
        iframe {
      width: 100%;
      height: 100%;
    }
  }
  
  }


.text-center__formulario {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.seccion__contacto_envios { 
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 4em;
  margin-bottom: 4em;

}

