/*FORMULARIO*/

#body__nosotros { 
  font-family: 'Roboto';
}

#contactForm {
  align-content: right;
  margin-top: 1em;
  margin-bottom: 1em;
}

.nosotros__mapa {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0.5em;
    div { 
      border: solid;
      border-color: black;

        iframe {
      width: 100%;
      height: 100%;
    }
  }
  
  }


.text-center__formulario {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
