@charset "UTF-8";
/*ENCABEZADO*/
header {
  background-color: #FBF7F0;
  color: black;
  display: block;
  width: 100%;
  text-decoration: none;
}

/*TITULOS*/
.titulos-nav {
  font-family: 'MonteCarlo', cursive;
  text-align: center;
  color: black;
}

.tituloUno {
  font-size: 5em;
}

.tituloDos {
  font-size: 2em;
}

.text-dark {
  font-family: 'Roboto', sans-serif, serif;
  font-size: 3em;
  font-style: oblique;
}

.nav-principal {
  background-color: #E6DDC6;
  color: black;
  font-size: 18px;
  letter-spacing: 2px;
  word-spacing: 15px;
  padding: 20px;
  text-align: center;
}

/*LISTA NAV*/
ul li {
  display: inline-block;
  color: black;
}

.lista-nav {
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  color: black;
}

.nav-item {
  font-size: 1em;
}

a:hover {
  background-color: gray;
}

/*PIE DE PÁGINA FOOTER*/
.footer-principal {
  background-color: #e6ddc6;
  text-decoration: none;
  margin-top: 5em;
  margin-bottom: auto;
  height: 2.5em;
  clear: both;
  letter-spacing: 0.5px;
  word-spacing: 1em;
  text-align: center;
  color: black;
  position: relative;
}

.footer-logo {
  font-family: 'Montecarlo', Arial, Helvetica, sans-serif;
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.footer__info {
  color: black;
  padding: 1em;
  margin-bottom: 2em;
}

.footer-redes {
  margin-top: 1em;
  margin-bottom: 0, 5em;
  padding: 1em;
}

/*GRID FOOTER*/
.container-footer {
  padding-right: 10px;
  padding-left: 10px;
  background-color: #e6ddc6;
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1em;
}

.item-footer-grid-1 {
  color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: right;
      align-content: right;
}

.lista-footer {
  display: block;
  font-size: 12px;
  letter-spacing: 1px;
  word-spacing: 5px;
  padding: 2px;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lista-footer li {
  display: block;
  font-size: 12px;
  letter-spacing: 1px;
  word-spacing: 5px;
  padding: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
}

.grid__seccion--titulo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  margin-bottom: 1em;
  font-size: 15px;
  letter-spacing: 1px;
  word-spacing: 0, 2em;
}

/*IMAGENES DE INICIO*/
.seccionGaleria {
  margin-top: 8em;
  margin-bottom: 8em;
}

.seccion_imagen_titulo {
  font-family: "Roboto";
  margin: 3em;
  padding: 1em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: bold;
}

.seccion_imagen_titulo h1 {
  -webkit-transition: all 5s;
  transition: all 5s;
  font-family: "MonteCarlo", cursive;
  font-size: 5em;
}

.seccion_imagenes_h {
  display: block;
  font-size: 1, 7em;
  font-weight: bold;
  -webkit-margin-before: 2em;
          margin-block-start: 2em;
  -webkit-margin-after: 2em;
          margin-block-end: 2em;
}

.seccion_imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.seccion_imagen_foto {
  width: 250px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.seccion_imagen_foto span {
  font-family: 'Roboto';
}

.seccion_imagen_foto:hover {
  background-color: gray;
}

.seccion_imagen_foto--foto {
  width: 250px;
  height: 400px;
}

/* IMAGEN ENVIOS  */
.seccion__envios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 5em;
  margin-top: 0, 5em;
  margin-bottom: 1em;
}

.seccion__envios-imagen {
  border-radius: 4em;
  width: 100%;
  height: auto;
}

/*SECCION VENTA MAYORISTA*/
#ventaMayorista {
  font-family: 'Roboto';
}

.titulo-ventamayorista {
  margin-top: 1em;
  font-size: 1.8em;
  font-weight: 2em;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.titulo_venta_mayorista {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.color_flex_venta_mayorista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 100px;
  margin-left: 40px;
  margin-right: 40px;
  margin: 30px;
  padding: 20px;
}

.color_flex_uno_mayorista {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 5px;
}

.color_flex_dos_mayorista {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.color_flex_tres_mayorista {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.color_flex_cuatro_mayorista {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.texto-venta-mayorista {
  font-style: italic;
}

/*ANIMACIONES VENTA MAYORISTA*/
#cuadradoVentaMayorista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3em;
  margin-bottom: 5em;
  font-size: 2em;
  width: 100%;
  height: 2em;
  background-color: #C2B8A3;
  -webkit-animation-name: animacion;
          animation-name: animacion;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  position: relative;
  /*para que se mueva */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /*para que sea en loop el movimiento*/
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes animacion {
  0% {
    width: 100%;
    background-color: #EDE574;
    left: 0;
    top: 3px;
  }
  25% {
    width: 100%;
    background-color: #E1F5C4;
    left: 0;
    top: 3px;
  }
  100% {
    width: 100%;
    background-color: #ede580;
    left: 0;
    top: 3px;
  }
}

@keyframes animacion {
  0% {
    width: 100%;
    background-color: #EDE574;
    left: 0;
    top: 3px;
  }
  25% {
    width: 100%;
    background-color: #E1F5C4;
    left: 0;
    top: 3px;
  }
  100% {
    width: 100%;
    background-color: #ede580;
    left: 0;
    top: 3px;
  }
}

/*SECCION ALMOHADAS*/
/*LISTA ORDENADA ALMOHADAS*/
#listaOrdenada {
  background-color: #A19882;
  color: black;
  margin: 20px;
}

.titulo-lista-almohadas {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 25px;
}

/*IMAGENES Y COLOR FLEX ALMOHADAS*/
.titulo_almohadas {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.color_flex_almohadas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 100px;
  margin-left: 40px;
  margin-right: 40px;
}

.color_flex_uno {
  background-color: #C2B8A3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.color_flex_dos {
  background-color: #A19882;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.color_flex_tres {
  background-color: #C2B8A3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.color_flex_cuatro {
  background-color: #E6DDC6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.titulo-p-almohadas {
  font-size: 25px;
  margin: 5px;
}

/*GRID SECCION COMBOS*/
.container__combos {
  height: 100%;
  width: 100%;
  margin-top: 3em;
  margin-left: 0,5em;
  margin-right: 0,5em;
}

/*FORMULARIO*/
#body__nosotros {
  font-family: 'Roboto';
}

.titulo__nosotros {
  margin-top: 2em;
}

#contactForm {
  -ms-flex-line-pack: right;
      align-content: right;
  margin-top: 1em;
  margin-bottom: 1em;
}

.nosotros__mapa {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 2em;
}

.nosotros__mapa div iframe {
  width: 100%;
  height: 100%;
}

.text-center__formulario {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.seccion__contacto_envios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 4em;
  margin-bottom: 4em;
}

/*COLCHONES*/
#body__colchones {
  font-family: 'Roboto';
}

.titulo__productos-colchones {
  margin-top: 2em;
}

.tituloColchones {
  margin: 1em;
  padding: 0,1em;
  font-family: 'Roboto';
  font-style: bold;
  -webkit-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

.contenedor-colchones {
  margin: 5em;
  padding: 1em;
}

/* MEDIOS DE PAGO  */
.seccion_pagos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 4em;
  margin-bottom: 2em;
}

.seccion_pagos_imagen {
  border-radius: 1px;
  width: 300px;
}

body {
  font-family: "Roboto";
}

header {
  background-color: #eec88c;
}

.lista-footer {
  display: block;
  font-size: 12px;
  letter-spacing: 1px;
  word-spacing: 5px;
  padding: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

li {
  display: block;
  font-size: 12px;
  letter-spacing: 1px;
  word-spacing: 5px;
  padding: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
}

a text {
  decoration: none;
  -webkit-transform: uppercase;
          transform: uppercase;
}

.card {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 2em;
  margin-left: 2em;
}
/*# sourceMappingURL=style.css.map */